*{
    
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
    overflow-x: hidden;
}
body {
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: clamp(16px, 4vw, 40px);
    background-color: #3a3c44;
    color:  #D8D8Df;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}
header { 
    width:100vw;
    background-color: #3a3c44;
    border:6px solid #5BB8Fe;
    padding: 15px;
    text-align: center;
    
    
}
header nav ul { 
    display:flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
header nav ul li {
    margin: 0 15px;
}
header nav ul li a {
    display: inline-block;
    color: #D8D8Df;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    font-size: 1em;
    
}
header nav ul li a:hover {
    color: #7390ff;
}
main h1 { 
    font-size: 3em;
    color:#D8D8Df;
    text-align: center;
    border: 5px solid  #7390ff;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 0px;

}
.indicator {
    text-align: center;
    font-style: italic;
    font-size: 4em;
    margin-top: 0px;
    margin-bottom: 100px;
    margin: 0 auto;
    

}
.content {
    text-align: center;
}
.description {
    font-size: 1.3  em;
    margin-top: 80px;
    margin-bottom: 60px;
}
.interested {
    font-size: 1.2em;
    margin-bottom: 40px;
    font-weight:500;
    color:#5BB8Fe
}
.down-arrow {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid #5BB8Fe;
    border-radius: 5px;
    margin: 10px auto;
}
.join-link {
    display:block;
    background-color:  #3f3f3f;
    color: #ffd087;
    padding: 10px 0px;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    border: 5px solid  #ffd087;
    border-radius: 20px;
    display: block;
    margin-top: 40px;
    margin-bottom: 20px;
    

}
.join-link:hover {
    transform: scale(1.03);
    transition: transform .2s ease;
    text-decoration: underline;
}
.remind-link {
   
    color: #ffec95;
    padding: 20px 5px;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    display: block;
    margin-top: 40px;
    margin-bottom: 400px;

    
    
}
.remind-link:hover {
    transform: scale(1.1);
    transition: transform .2s ease;
    text-decoration: underline;
}
.scroll-fade {
    transition: opacity .5s ease;
}
.scroll-fade-down {
    transition: opacity 1s ease;
}
.indicator-gears {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 60px;
    overflow-x: hidden;


}


.gearR {
    position: absolute;
    right: -10vw; 
    transform: translateY(-50%);
    width: 40vw;
    transition: transform 0.2s linear;
}
.gearL {
    position: absolute;
    left: -10vw; 
    transform: translateY(-50%);
    width: 40vw;
    transition: transform 0.2s linear;
}

.footer {
    display: inline
}

/* contact photos */
.photo-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 40px;
    flex-direction: row;
    margin: 40px auto;
}
.photo-wrapper {
    justify-content: center;
    text-align: center;
    padding: 2vw;
    border: 5px solid;
    border-radius: 10px;
    border-color: #ffd087;
    max-width: 40vw;
    max-height: 40vw;
    width: 100%;
    display: flex;
    flex-direction: column;
   
}
.photo {
    max-width: 30vw;
    height: auto;
    border: 3px solid;
    margin-bottom: 15px;
}
.photo-info h3 {
    font-size: 3vw;
    color: #ffec95; 
    margin-bottom: 5px;
}
.photo-info p {
    font-size: 2.5vw;
    font-weight: 500;
    color: #D8D8Df;
    margin: 5px 0; 
    
}
.photo-info a {
    font-size: 2.5vw;
    font-weight: 500;
    color: #ffec95;
    margin: 5px 0; 
    
}
.contacts-header { font-size: 3rem;
    font-size: 3em;
    color:#ffec95;
    text-align: center;
    border: 5px solid  #ffd087;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 0px;
}
